language: php

sudo: false

addons:
  postgresql: "9.3"
  apt:
    packages:
      - oracle-java8-installer
      - oracle-java8-set-default

cache:
  directories:
    - $HOME/.composer/cache
    - $HOME/.npm

php:
 - $PHPVER

env:
 global:
  - PHPUNIT_IGNORE_PATHS=cli,db,settings.php,version.php,ws_endpoint.php
  - COVERALLS=FALSE

 matrix:
    # Moodle 3.4
  - PHPVER=7.0 DB=mysqli MOODLE_BRANCH=MOODLE_34_STABLE
  - PHPVER=7.1 DB=pgsql MOODLE_BRANCH=MOODLE_34_STABLE COVERALLS=TRUE

    # Moodle 3.2
  - PHPVER=5.6 DB=pgsql MOODLE_BRANCH=MOODLE_32_STABLE
  - PHPVER=7.0 DB=mysqli MOODLE_BRANCH=MOODLE_32_STABLE

    # Moodle 3.3
  - PHPVER=5.6 DB=mysqli MOODLE_BRANCH=MOODLE_33_STABLE
  - PHPVER=7.0 DB=pgsql MOODLE_BRANCH=MOODLE_33_STABLE
  - PHPVER=7.1 DB=mysqli MOODLE_BRANCH=MOODLE_33_STABLE

    # Moodle Master
  - PHPVER=7.0 DB=pgsql MOODLE_BRANCH=master
  - PHPVER=7.0 DB=mysqli MOODLE_BRANCH=master
  - PHPVER=7.1 DB=pgsql MOODLE_BRANCH=master
  - PHPVER=7.1 DB=mysqli MOODLE_BRANCH=master


before_install:
  - phpenv config-rm xdebug.ini
  - nvm install 8.9
  - nvm use 8.9
  - cd ../..
  - composer create-project -n --no-dev --prefer-dist moodlerooms/moodle-plugin-ci ci ^2
  - export PATH="$(cd ci/bin; pwd):$(cd ci/vendor/bin; pwd):$PATH"

install:
  - moodle-plugin-ci install

script:
  - moodle-plugin-ci phplint
  - moodle-plugin-ci phpmd
  - moodle-plugin-ci validate
  - moodle-plugin-ci savepoints
  - moodle-plugin-ci mustache
  - moodle-plugin-ci grunt
  - if [[ "$COVERALLS" == "TRUE" ]]; then
      moodle-plugin-ci phpunit --coverage-clover;
    else
      moodle-plugin-ci phpunit;
    fi
  - moodle-plugin-ci behat

after_script:
  - moodle-plugin-ci phpcpd
  - moodle-plugin-ci codechecker
  - moodle-plugin-ci coveralls-upload
